#start-page {
    max-width: 960px;
    height: 960px;
    margin: 0 auto;
}


.header {
    border: 2px solid grey;
    display: block;
    background-color: #f8f6f3;
}

.logo {
    display: inline;
}

.menu {
    display: inline;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
    border: 1px solid #000; /* Рамка вокруг текста */
    padding: 3px; /* Поля вокруг текста */
}

.game {
    width: 100%;
    height: 100%;
    background: url(/images/map.jpg) no-repeat scroll center;
    align-content: center;
}

.game__start-link {
    text-decoration: none;
    outline: none;
    display: inline-block;
    width: 140px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0,0,0,.1);
    transition: .3s;
    margin: 45% 45%;
}
.game__start-link:hover {
    background: #2EE59D;
    box-shadow: 0 15px 20px rgba(46,229,157,.4);
    color: white;
    transform: translateY(-7px);
}