.page {
    max-width: 960px;
    height: 800px;
    margin: 0 auto;
    font-size: 25px;
}

.header {
    display: block;
    background-color: #f8f6f3;
}

.header__about-page-crutch {
    margin-left: 8px;
}

.logo {
    display: inline;
    margin: 20px 20px;
}

.menu {
    display: inline;
    list-style: none;
    position: relative;
    bottom: 45px;
    margin-left: 50px;
}

.menu__li {
    display: inline;
    line-height: 45px;
    margin-left: 10px;
    padding: 20px;
    background-color: #8de6ff;
    border-radius: 5px;
    width: 140px;
    height: 45px;
}

.menu__li:hover {
    background-color: #8a9eff;
}

.menu__li_selected {
    background-color: #2ebb79;
}

.menu__li_selected:hover {
    background-color: #2ebb79;
}

.game-page {
    width: 100%;
    height: 100%;
    background: url(/images/page-background.png);
    align-content: center;
}

.game-page__start-link {
    text-decoration: none;
    outline: none;
    display: inline-block;
    width: 140px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: #8de6ff;
    box-shadow: 0 8px 15px rgba(0,0,0,.1);
    transition: .3s;
    margin: 35% 45%;
}
.game-page__start-link:hover {
    background: #8a9eff;
    color: white;
    transform: translateY(-7px);
}

.about-page {
    padding-left: 8px;
}

.top-list-page {
    width: 100%;
    height: 100%;
    background: url(/images/page-background.png);
    align-content: center;
}

.top-list {
    display: inline-block;
    margin: 20% 35%;
    font-size: 60px;
}